#wrapper {
  margin-top: 20%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 2px 2px;
}

#display {
  grid-column: 2/6;
  grid-row: 1/2;
  border: 3px solid black;
  padding-right: 3px;
  font-family: Courier, sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  text-align: right;
  overflow: hidden;
  background-color: lightgray;
}

#clear {
  grid-column: 2/4;
  grid-row: 2/3;
  background-color: red;
}

#del {
  grid-column: 4/6;
  grid-row: 2/3;
  background-color: white;
}

#seven {
  grid-column: 2/3;
  grid-row: 3/4;
}

#eight {
  grid-column: 3/4;
  grid-row: 3/4;
}

#nine {
  grid-column: 4/5;
  grid-row: 3/4;
}

#add {
  grid-column: 5/6;
  grid-row: 3/4;
}

#four {
  grid-column: 2/3;
  grid-row: 4/5;
}

#five {
  grid-column: 3/4;
  grid-row: 4/5;
}

#six {
  grid-column: 4/5;
  grid-row: 4/5;
}

#subtract {
  grid-column: 5/6;
  grid-row: 4/5;
}

#one {
  grid-column: 2/3;
  grid-row: 5/6;
}

#two {
  grid-column: 3/4;
  grid-row: 5/6;
}

#three {
  grid-column: 4/5;
  grid-row: 5/6;
}

#multiply {
  grid-column: 5/6;
  grid-row: 5/6;
}

#decimal {
  grid-column: 2/3;
  grid-row: 6/7;
}

#zero {
  grid-column: 3/4;
  grid-row: 6/7;
}

#equals {
  grid-column: 4/5;
  grid-row: 6/7;
  background-color: orange;
}

#divide {
  grid-column: 5/6;
  grid-row: 6/7;
}

.operation {
  background-color: lightblue;
}

button {
  font-size: 2.5em;
  cursor: pointer;
}

#backing {
  z-index: -1;
  grid-column: 2/6;
  grid-row: 1/7;
  background-color: grey;
}